
*.xcuserstate

*.xcscheme

ZTProj/ZTJT/ZTJT.xcodeproj/xcuserdata/Perry.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

ZTProj/ZTJT/ZTJT.xcodeproj/project.xcworkspace/xcshareddata/ZTJT.xccheckout

ZTProj/ZTJT/ZTJT.xcodeproj/xcuserdata/Perry.xcuserdatad/xcschemes/ZTJT.xcscheme

ZTProj/ZTJT/ZTJT.xcodeproj/project.xcworkspace/xcuserdata/Perry.xcuserdatad/UserInterfaceState.xcuserstate
